/* ---- GENERAL ---- */
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ---- GAME/UPDATES TEXT ---- */

.main-view {
  background-color: #F0A714;
  font-family: 'PT Serif', serif;
}

.player-one-deck,
.player-two-deck {
  text-align: center;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 3.6em;
  padding-top: 2%;
  font-weight: bold;
  color: #000000;
}

.game-update {
  display: flex;
  justify-content: center;
}

.game-view {
  display: flex;
  justify-content: space-around;
}
/* ---- CARDS ---- */

.cards {
  width: 250px;
  height: 375px;
  border-radius: 20px;
  margin-top: 80px;
  margin-bottom: 20px;
  box-shadow: -10px 0 20px #0b6fe7,
  10px 0 20px #0b6fe7;
}

.card-style {
  box-shadow: -10px 0 20px rgb(179,28,181),
  10px 0 20px rgb(179,28,181);
}

.control-box {
  background-color: lightsteelblue;
  padding: 3%;
  margin-top: 4%;
  border-radius: 5px;
  width: 275px;
}

.control-directions {
  padding: 2%;
}

/* ---- RULE VIDEO LINK ---- */

.game-rules {
  display: flex;
  justify-content: center;
}

.rule-video {
  padding: 2% 1%;
  font-size: 1.4em;
  color: #0048F0;
  font-weight: 800;
}

.rule-video:hover {
  outline: 2px solid white;
  background-color: lightsteelblue;
}

/* ---- HIDDEN ---- */

.hidden {
  visibility: hidden;
}
